<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

id: {{details.id}} <br><br>

type: {{details.type}} <br><br>

status: {{details.status}} <br><br>

text: {{details.text}} <br><br>

article url: {{details.article_url}} <br><br>

youtube url: {{details.youtube_url}} <br><br>

file path: {{details.file_path}} <br><br>

preprocessed_content: {{details.preprocessed_content}} <br><br>

processed_content: {{details.processed_content}} <br><br>

</body>
</html>