{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', path='/copyText.js')}}"></script>
    <script src="{{ url_for('static', path='/mdFormatter.js')}}"></script>
{% endblock %}

{% block meta_title %} OpenNote | {{details.title}} {% endblock %}

{% block content %}

<div class="container mt-2">
    <h1 class="mt-3">{{details.title}}</h1>
    <div>
        <span class="badge bg-primary">{{details.type.value}}</span>
        <span class="badge bg-primary">{{details.status.value}}</span>
    </div>

    <div class="card-text">
        {% if details.text %}
            <p>{{details.text}}</p>
        {% endif %}

        {% if details.article_url %}
            <a href="{{article_url}}">{{details.article_url}}</a>
        {% endif %}

        {% if details.youtube_url %}
            <a href="{{youtube_url}}">{{details.youtube_url}}</a>
        {% endif %}

        {% if details.file_path %}
            <span>{{details.file_path}}</span>
        {% endif %}
    </div>

    <h2 class="mt-3">Preprocessed content</h2>
    <div class="accordion">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Processed content
          </button>
        </h2>

        <div id="collapseOne"  class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="preprocess_div">
                    {% if details.preprocessed_content %}
                        <p>{{details.preprocessed_content}}</p>
                        <button class="btn btn-primary copy-button" data-result="{{ details.preprocessed_content }}">Copy</button>

                    {% else %}
                        <p>No content to display</p>
                    {% endif %}
                </div>
              </div>
        </div>
    </div>

    <div>
        <h2 class="mt-3">Results</h2>

        <form action="result/{{details.id}}" method="post" class="mb-5 d-flex">
            <select class="form-select" name="result_type" id="type">
                <option value="detailed_note" selected>Detailed note</option>
                <option value="quick_note">Quick note</option>
                <option value="detailed_summary">Detailed summary</option>
                <option value="quick_summary">Quick summary</option>
                <option value="key_topics">Quick topics</option>
                <option value="like_iam_5">Like Iam 5</option>
            </select>
            <select class="form-select" name="model_type" id="model">
                <option value="llama3-70b-8192" selected>GROQ LLama3 70b</option>
                <option value="llama3-8b-8192">GROQ Llama3 8b</option>
                <option value="mixtral-8x7b-32768">GROQ Mistral</option>
                <option value="gemma-7b-it">GROQ Gemma</option>
                <option value="gpt3.5-turbo">GPT 3.5 Turbo</option>
                <option value="gpt4">GPT 4</option>
                <option value="llama2">Llama2</option>
                <option value="mistral">Mistral</option>
            </select>
            <input type="submit" class="btn btn-success" value="Generate">
        </form>

        {% if details.results %}
            {% for result in details.results %}
            <div class="accordion">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{result.id}}" aria-expanded="true" aria-controls="collapseOne">
                      {{result.type.value}} | {{result.created_at}}
                  </button>
                </h2>

                <div id="collapse-{{result.id}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="preprocess_div">
                            <div id="formattedText-{{result.id}}" class="container mt-3"></div>
                            <button class="btn btn-primary copy-button" data-result="{{ result.result }}">Copy</button>
                        </div>
                      </div>
                </div>
            </div>


            <script>
                const markdownResult = {{ result.result | tojson | safe }};
                document.getElementById('formattedText-{{result.id}}').innerHTML = convertMarkdownToHTML(markdownResult);
            </script>

            {% endfor %}
        {% else %}
            No results
        {% endif %}

    </div>

</div>



{% endblock %}